@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic page styling */
html,
body,
#root {
  height: 100%;
}
body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

/* Helpful utility for our canvas blocks */
.block-el {
  touch-action: none; /* pointer events work better on touch */
  user-select: none;
}
