/* Entry CSS for Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Small custom reset to make demo consistent */
html,
body,
#root {
  height: 100%;
}
body {
  @apply bg-gray-50 text-slate-900 antialiased;
}

/* Example utility you might want later */
.container-max {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
